<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suwonsmartapp.androidexam" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".animation.TransitionDrawableExamActivity" />
        <activity
            android:name=".layout.FrameLayoutActivity"
            android:label="@string/title_activity_frame_layout" />
        <activity
            android:name=".mission.Mission01Activity"
            android:label="@string/title_activity_mission01" />
        <activity
            android:name=".mission.Mission02Activity"
            android:label="@string/title_activity_mission02" />
        <activity
            android:name=".activity.ActivityExamActivity"
            android:label="@string/title_activity_activity_exam" />
        <activity
            android:name=".activity.TargetActivity"
            android:label="@string/title_activity_target" />
        <activity
            android:name=".activity.WebActivity"
            android:icon="@drawable/girl"
            android:label="@string/title_activity_web"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".animation.AnimationActivity" />
        <activity
            android:name=".calendar.CalendarActivity"
            android:label="@string/title_activity_calendar" />
        <activity android:name=".calendar2.Calendar2Activity" />
        <activity android:name=".mission.extra.randomcolorlistview.RandomColorListActivity" />
    </application>

</manifest>
