<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suwonsmartapp.androidexam" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.example.suwonsmartapp.androidexam.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.suwonsmartapp.androidexam.permission.C2D_MESSAGE" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mission.extra.TransitionDrawableExamActivity" />
        <activity
            android:name=".layout.FrameLayoutActivity"
            android:label="@string/title_activity_frame_layout" />
        <activity
            android:name=".mission.Mission01Activity"
            android:label="@string/title_activity_mission01" />
        <activity
            android:name=".mission.Mission02Activity"
            android:label="@string/title_activity_mission02" />
        <activity
            android:name=".activity.ActivityExamActivity"
            android:label="@string/title_activity_activity_exam" />
        <activity
            android:name=".activity.TargetActivity"
            android:label="@string/title_activity_target" />
        <activity
            android:name=".activity.WebActivity"
            android:icon="@drawable/girl"
            android:label="@string/title_activity_web"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".animation.AnimationActivity" />
        <activity
            android:name=".calendar.CalendarActivity"
            android:label="@string/title_activity_calendar" />
        <activity android:name=".calendar2.Calendar2Activity" />
        <activity android:name=".mission.extra.randomcolorlistview.RandomColorListActivity" />
        <activity android:name=".thread.ThreadActivity" />
        <activity android:name=".parsing.json.WeatherActivity" />
        <activity android:name=".fragment.FragmentActivity" />
        <activity android:name=".viewpager.ScreenSlideActivity" />
        <activity android:name=".receiver.BroadcastActivity" />
        <activity android:name=".graphic.GraphicActivity" />
        <activity android:name=".database.LogInActivity" />
        <activity android:name=".database.SignUpActivity" />
        <activity android:name=".activity.ParcelableActivity" />
        <activity android:name=".database.parse.ParseLoginActivity" />
        <activity android:name=".database.parse.ParseLocalDatabaseActivity" />
        <activity android:name=".provider.ContactLoaderActivity" />
        <activity android:name=".provider.LoadPictureActivity" />
        <activity android:name=".musicplayer.MusicActivity" />

        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="android.intent.action.MY_BROADCAST" />
            </intent-filter>
        </receiver>

        <!-- Parse.com PUSH 서비스 사용 위한 부분. 시작 -->
        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.example.suwonsmartapp.androidexam" />
            </intent-filter>
        </receiver>
        <!-- Parse.com PUSH 서비스 사용 위한 부분. 끝 -->

        <provider
            android:name=".database.provider.UserProvider"
            android:authorities="com.example.suwonsmartapp.androidexam.provider"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".musicplayer.MusicService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".drawer.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".chat.ChatActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
    </application>

</manifest>
